.account-info {
    width: 1200px;
    height: 600px;
    text-align: left;
    line-height: 80px;
  }
  
  .account-info-button {
    display: flex;
    justify-content: center;
  }
  
  .account-info-list li {
    list-style: none;
  }
  
  #account-info-save {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    color: black;
  }
  
  #account-info-save:hover {
    background-color: var(--banner-color); /* Replace var(--banner-color) with the desired color */
    color: white;
  }
  
  .account-info-title {
    border-bottom: 1px solid rgba(141, 141, 141, 0.266);
  }
  