.background-blur{
    content: '';
    width: 100vw;
    height: 100vh;
    background-image: url(/img/);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter:blur(10px) ;
    

}