:root {
  --primary-color: #ff3500;
  --banner-color: #FB5519;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
/* font-family */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}
/* over flow-x hidden de che phan trang */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* /responsive */
/* bootrap */


/* Responsive Styles */
/* gutter */
.gutter {
  height: 32px;
}

/* header */
header {
  width: 100%;
}

/* header */
.row-header-top{
  display: grid;
  grid-template-columns: auto auto auto ;
  align-items: center;
  justify-content: space-evenly;
}
.header-top {
  background-color: black;
  width: 100%;
  height: 50px;
}

.header-top ul {
  display: flex;
}

.contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-info ul li {
  display: inline-block;
  margin-right: 10px;
}

.disabled {
  pointer-events: none;
}

.social-icon {
  font-size: 1.2rem;
}

.social-icon a {
  padding-left: 40px;
  transition: 1s;
}

.social-icon a:hover {
  color: var(--primary-color);
}

.header-top a {
  color: white;
  text-decoration: none;
}
/* Account  */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logoutButton{
  background-color: white;
  border: none;
  padding: 12px 6px;

}
#logoutButton:hover{
  background-color: #f9f9f9;
}
#account_info{
  background-color: white;
  border: none;
  padding: 12px 6px;
}
#account_info:hover{
  background-color: #f9f9f9;

}
.text-account-name{
  color: white;
}
/* Reponsive_header_top */
@media screen and (max-width: 700px){
    .row-header-top{
      display: grid;
      grid-template-columns: auto  ;
      justify-content: center;
      justify-items: center;
    }
    .header-top{
      height: 100px;
    }
}
/* header bottom */
.header-bottom {
  width: 100%;
  
}
.row-header-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.header-bottom nav {
  width: 500px;
  max-width: 100%;
}


.navbar-nav a{
  color: black;
}
.navbar-nav a:hover{
  color: var(--primary-color);

}

.bi-list{
  background-color: black;
  border-radius: 5px;
  
}


/* banner */
.banner-father {
  background-image: url('/img/');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.slider-text {
  text-align: left;
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 70px;
}

.slider-text h2 {
  font-size: 4em;
  color: white;
  font-weight: 500;
}

.slider-text span {
  font-size: 4em;
  color: white;
  font-weight: 700;
}

.slider-text a {
  font-size: 1.1em;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  background-color: white;
  width: 200px;
  border-radius: 40px;
  text-align: center;
  transition: 1s;
}

.slider-text a:hover {
  color: white;
  background-color: var(--primary-color);
}

.slider-text p {
  color: white;
}

.img-banner {
  text-align: right;
  max-width: 100%;
}

.row-home-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.reponsive-picture{
  max-width: 80%;
  height: auto;
}
/* reponsive-picture */
@media screen and (max-width: 1350px){
  .row-home-banner{
    width: 40%;
  }
}
@media screen and (max-width: 1000px){
  .row-home-banner{
    width: 50%;
  }
  .reponsive-picture{
    display: none;
  }
  .row-home-banner{
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px){
  .row-home-banner {
    width: 50%;
}
}
/* reponsive nav */
@media screen and (max-width: 1000px){
  .row-header-bottom {
    max-width: calc(100% - 32px);
  }
.header-bottom {
  display: flex;
  justify-content: center;
  
}
}


/* text area home */
.collum-text-home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.text-area-home h3{
  font-size: 3em;
  font-weight: 800;
}
/* area-home */
.area-home{
  padding-top: 241px;
  padding-bottom: 106px;
}
.box-row-home{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.box-home{
  width: 350px;
  height: 400px;
  border: 1px solid red;
  padding: 70px 25px 65px 25px;
  border: 1px solid #ffc5c2;
  transition: 1s;
  border-radius: 10px;
}
.box-home:hover{
  box-shadow: 0px 0px 10px 5px #ccc;
}
.background-orange{
  background-image: url("/ASSIGNMENT/img/area/service_icon_bg_1.png.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 160px;
}
.text-box-home{
  text-align: center;
}
/* reponsive box */
@media screen and (max-width: 1200px) {
  .box-row-home{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center
  }
  .box-home{
    width: 70%;
    margin-top: 30px;
  }
@media screen and (max-width: 900px)  {
  .box-row-home{
    width: 100%;
   display: grid;
   grid-template-columns: auto;
  }
  .box-home{
    width: 70%;
    margin-top: 30px;
  }
}

}
@media screen and (max-width: 500px)  {
  .box-row-home{
    width: 100%;
    display: grid;
    grid-template-columns: auto ;
    justify-items: center
  }
  .box-home{
    width: 70%;
    margin-top: 30px;
  }
}
/* footer */
footer{
  background-color: #f8f8f8;

}
.footer-top {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  line-height: 40px;
}

.footer-box ul li a {
  color: #7a7a7a;
}

.footer-box h3 {
  font-size: 25px;
  color: black;
}

.footer-box a {
  text-decoration: none;
  transition: 1s;
}

.footer-box a:hover {
  color: var(--primary-color);
}

.footer-box li {
  list-style: none;
}

.footer-icon {
  display: flex;
  font-size: 20px;
}

.footer-icon a {
  margin-left: 20px;
}
/* reponsive */
@media screen and (max-width: 1200px)  {
  .footer-top{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto  ;
    justify-items: center;
  }

}



.footer-copy-right{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: left;
}
.footer-copy-right a{
 text-decoration: none;
 color: rgb(143, 143, 231);
 transition: 1s;
}
.footer-copy-right a:hover{
  color: rgb(69, 69, 222);
 }
/* Trang about */
.banner-about{
  background-image: url('/ASSIGNMENT/img/banner.png.webp');
  background-size: 100% 100%;
  display: flex;
  align-items: center;  
  padding: 160px 0;
  flex-direction: column;
}
.about-text-banner{
  font-size: 50px;
  color: white;
  font-weight: 900;
}
.row-text-about{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.picture-cat img{
  transition: all 1s ease-in;
}
.picture-cat img:hover{
  transform: scale(1.1);
}

.text-area{
  width: 500px;
}
.text-area span{
  font-weight: 200;
  font-size: 2em;
}
.text-area h3 {
  font-weight: 800;
  font-size: 2em;
}
#about-btn{
  color: white;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 40px;
  font-size: 20px;
  padding: 12px 20px;
}
/* trang account  */
.form{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  text-align: center;
  padding: 20px;
  line-height: 50px;
}
.form input[ type="text"],
input[ type="email"],
input[ type="password"]{
    width: 60%;
    height: 40px;
}

.form-button{
  margin-left: auto;
  margin-right: auto;
}
#Register{
  width: 30%;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 1s;
  color: black;
  background-color: white;
}
#Register:hover{
  background-color: black;
  color: white;
  
}
.red-hight-light{
  outline: 2px solid red ;
  transition: 1s ease-in;
}
.green-hight-light{
  outline: 2px solid green ;
  transition: 1s ease-in;
}
.erro-username{
  color: white;
}
.display{
  display: none !important;
}
.erro-email{
  color: white;
}
.erro-password{
  color: white;
}
/* trang login */
#Login{
  width: 30%;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 1s;
  color: black;
  background-color: white;
}
#Login:hover{
  background-color: black;
  color: white;
  
}
/* chinh link mau login va resgiter  */
#login-link{
  color:white ;
  text-decoration: none;
}
#login-link:hover{
  text-decoration: underline;
}
#Register-link{
  color: white;
  text-decoration: none;
}
#Register-link:hover{
  text-decoration: underline;
}
/* trang blog */
.banner-blog{
  background-image: linear-gradient(to right, #EA2F17, rgb(244 153 92));
  height: 400px;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball{
  background-color: rgb(220, 247, 23);
  border: 1px #3cf solid;
  width: 2px;
  height: 2px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  /* animation:[name] [duration] [timing-function] [delay] [iteration-count]; */
  animation: ball 4s ease-in-out 0s infinite ;
}
@keyframes ball{

  0% {
      top: 0;
      left: 0;
    }

    25% {
      top: 200px;
      left: 200px;
    }

    50% {
      top: 0;
      left: 400px;
    }

    75% {
      top: 200px;
      left: 200px;
    }

    100% {
      top: 0;
      left: 0;
    }
    

}


.center-blog h1{
  color: white;
  font-weight: 700;
  font-size: 50px;
}
.content-blog{
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
}
.content-blog-left{
  width: calc(100% - 150px);
  display: grid;
  grid-template-columns: auto ;
  row-gap: 50px;
}
.content-blog-right{
  width: calc(100% - 102px);
}
.search-blog{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  background-color: #e4e4e4;
  align-items: center;
  justify-content: center;
}
#search{
  width: 300px;
  height: 50px;
  color: white;
  border: 1px solid #ccc;
}
#submit-search{
  width: 350px;
  height: 50px;
  border: 1px solid var(--banner-color);
  color: var(--banner-color);
  background-color: white;
  transition: 0.5;
}
#submit-search:hover{
  background-color: var(--banner-color);
  color: white;
}
#search-icon{
  background-color: white;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.box-blog-news{
  box-shadow: 0px 0px 5px 2px #e3e2e2 ;
}
.text-blog-news{
  padding: 20px 10px 10px 10px; 
}
.link-info-blog{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 300px;
}
/* Trang contact */
#map{
  height: 400px;
}
#Show-location{
  width: 200px;
  margin-top: 30px;
}
.textarea-contact{
  width: 800px;
}
.content-contact{
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto;
  
}
.content-contact-left{
  width: 750px;
 
}
.content-contact-right{
  width: 450px;
}
.form-contact{
  display: grid;
  grid-template-columns: auto ;
}
.content-contact-left input{
width: 200px;
margin-top: 20px;
}